/* Table of Contents
1. Imports
2. General Rules
3. Mobile Rules
4. Large Screen Rules
*/


/* 1. Imports */

@import url('https://fonts.googleapis.com/css?family=Sansita&display=swap');

@import url('normalize.css');

/* 2. General */

body {
        font-family: Helvetica, Arial, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
        font-family: 'Sansita', sans-serif;
}

/* heading css */

#header {
        background-color:#4286f4;
        height:50px;
        padding-bottom:0;
}
#title {
        padding:8px;
        font-size:30px;
        padding-left:65px;
        margin-top:0;
}
#logo {
        height:50px;
        float:left;
}

/* section 1 css */

#sec1title {
        text-align:left;
}
#zipeleloc {
        margin-left:0;
        padding-left:0;
}
.coordinates {
        display:inline;
        padding:2px;
        font-size:15px;
}

/* section 2 css */

#currenttemp {
        font-size:50px;
}

#hightemp {
        color:red;
        display:inline;

}
#lowtemp {
        color:blue;
        display:inline;
       
}

/* section 3 css */

#pointercontainer {
        position:relative;
}
#speedofwind {
        position: absolute;
        left: 0;
        top: 40%;
        width: 100%;
        text-align: center;
    
}


/* Rotation Rules */

.n {
        transform: rotate(0deg);
}
.ne {
        transform: rotate(45deg);
}
.e {
        transform: rotate(90deg);
}
.se {
        transform: rotate(135deg);
}
.s {
        transform: rotate(180deg);
}
.sw {
        transform: rotate(225deg);
}
.w {
        transform: rotate(270deg);
}
.nw {
        transform: rotate(315deg);
}

/* section 4 css */


#conditionimage {
        height:50%;
        width: 50%;
        display: inline-block;
        margin: 0 auto;
        overflow: auto;
}

/* section 5 css */

#section5 {
        border:black solid;
        border-radius:10px;
        background-color: #d8d4cd;
        height:110px;
        margin-top:5px;
}
#hourlyforcast {
    display:flex;
    flex-flow: row nowrap;
    overflow: auto;
    padding-bottom:5px;
    list-style-type: none;
}
.hours {
   flex-shrink: 0;
}

/* footer css */

#footer {
        background-color:#4286f4;
}

/* 3. Mobile */

/* page-nav css */
#page-nav {
        background-color:#4286f4;
        height:45px;
        width:100%;
}
#page-nav {
        display:flex;
}
#links {
        list-style-type:none;
        margin-bottom:20px;
        display: flex;
        justify-content: center;
        position: fixed;
}
a.navlink {
        color:white;
        text-decoration:none;
        padding:5px;
        text-align:center;
        margin-bottom:20px;
}

/* container css */

.mainsection {
        border:black solid;
        text-align:center;
        border-radius: 10px;
        margin-top:5px;
    
}

.sectiontitles {
        text-align: center;
}

/* background image change rules */

.rain {
        background-image: url("../weather-site-images/rain-352.jpg");
        background-size: cover;
}
.cloud {
        background-image: url("../weather-site-images/clouds-350.jpg");
        background-size: cover;
}
.fog  {
        background-image: url("../weather-site-images/fog-349.jpg");
        background-size: cover;
}
.clear {
        background-image: url("../weather-site-images/clear-351px.jpg");
        background-size: cover;
}
.snow {
        background-image: url("../weather-site-images/snow-390px.jpg");
        background-size: cover;
}

/* Hides content until data is ready */
.hide{
        display: none;
      }



/* 4. Large Screen Rules */






/* Moves page-nav to the top of screen */
@media only screen and (min-width: 1025px) {

#page-nav {
        position:absolute;
        bottom:659px;
        background-color:#4286f4;
        height:45px;
        width:100%;
       
}

/* shifts content down 50 pixels */
main {
        margin-top:50px;
}

/* lines containers in a row */
#threecontainer {
        display:flex;
        justify-content:center;
        width:95%;
        margin: 0 auto;
        /* background-image: url("../weather-site-images/rain-602.jpg"); */
}

/* makes containers fit the whole screen */
.mainsection {
        width: 95%;
        margin:2px;

}

#section5 {
        border:black solid;
        border-radius:10px;
        background-color: #d8d4cd;
        height:110px;
        margin-top:5px; 
        width:94.5%;
        margin:0 auto;
}

#footer {
        width:95%;
        margin: 0 auto;
}

#sec1title {
        width: 95%;
        margin: 0 auto;
}

#zipeleloc {
        width:95%;
        margin: 0 auto;
        display: flex;
}

/* Large Screen Images */

.rain {
        background-image: url("../weather-site-images/rain-602.jpg");
        background-size: cover;
}
.cloud {
        background-image: url("../weather-site-images/clouds-601.jpg");
        background-size: cover;
}
.fog  {
        background-image: url("../weather-site-images/fog-602px.jpg");
        background-size: cover;
}
.clear {
        background-image: url("../weather-site-images/clear-600px.jpg");
        background-size: cover;
}
.snow {
        background-image: url("../weather-site-images/snow-601.jpg");
        background-size: cover;
}
}